*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul,ol{
    list-style: none;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Raleway', sans-serif;
}
/*====== Main-Top ===========*/
#main-top{
    background: #444444;
    height: 45px;
}
.top-left{
    position: relative;
}
.top-left::after{
    position: absolute;
    content: "";
    top: 0;
    left: 60px;
    background: #DDDDDD;
    height: 45px;
    width: 1px;
    
}
.top-left::before{
    position: absolute;
    content: "";
    top: 0;
    left: 140px;
    background: #DDDDDD;
    height: 45px;
    width: 1px;
    
}

.top-left .lan{
    color: #DDDDDD;
    background: transparent;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 400;
    border: none;
}
.top-left .money{
    color: #DDDDDD;
    background: transparent;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
    border: none;
}
.top-left .number{
    display: inline-block;
    color: #DDDDDD;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
}
.top-right{
    position: relative;
    cursor: pointer;
}
.top-right::after{
    position: absolute;
    content: "";
    top: 0;
    left: 26%;
    transform: translateX(-50%);
    background: #fff;
    height: 45px;
    width: 1px;
}
.top-right::before{
    position: absolute;
    content: "";
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    background: #fff;
    height: 45px;
    width: 1px;
}
.top-right .wish{
    padding: 10px 0;
    display: inline-block;
    color: #DDDDDD;
    padding-right: 28px;
    font-size: 13px;
}
.top-right .wish p{
    display: inline-block;
}
/*====== Main Menu ===========*/
ul li a{
    color: #222222!important;
    position: relative;
    transition: all linear.4s;
    font-weight: 500;
}
ul li a:hover{
    color: #DE4644!important;
}
ul li a:hover::after{
    position: absolute;
    content: "";
    top: 35px;
    left: 10px;
    width: 30px;
    background: #DE4644;
    height: 1px;
    transition: all linear.4s;
}
ul li a:hover::before{
position: absolute;
content: "";
top: 37px;
left: 10px;
width: 19px;
background: #DE4644;
height: 1px;
transition: all linear.4s;
}
.search{
    display: inline-block;
    position: relative;
}
.search input{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 20px;
    background: transparent;
    border: 1px solid #444;
    transition: all linear.4s;
    padding-left: 5px;
    cursor: pointer;
}
.search input:focus{
    opacity: 1;
    cursor: text;
    
}
.search i{
    font-weight: 900;
    margin-right: 30px;
    cursor: pointer;
}
.icone{
    display: inline-block;
    transition: all linear.4s;
}
.icone:hover{
    color: #DE4644;
    transition: all linear.4s;
    cursor: pointer;
}
/*====== Bennar ===========*/
#banner{
    background-image: url(../img/slider-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}
#banner::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.411);
    height: 100%;
    width: 100%;
    
}
.banner-text{
    position:relative;
    z-index: 99;
}
.banner-text h4{
    color: #de4644;
    font-size: 70px;
    font-weight: 700;
}
.banner-text h5{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px
}
.banner-text p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 30px;
    line-height: 26px;
    padding-right: 640px;
}
.banner-button a{
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: all linear.4s;
    text-transform: uppercase;
}
.banner-button a:hover{
    text-decoration: none;
    background: #de4644;
    border: 1px solid #de4644;
    color: #fff;
}
.banner-arrow{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}
.banner-arrow .left, .right{
    color: black;
    border: 1px solid #fff;
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all linear.4s;
}
.banner-arrow .left:hover, .right:hover{
    color: #de4644;
    border: 1px solid #de4644;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all linear.4s;
}
/*====== Bennar ===========*/
#service{
    background: #F1F1F1;
}
.service{
    background: 15px 0;
    cursor: pointer;
    transition: all linear.4s;
}
.service i{
    color: #222222;
    font-size: 22px;
    padding-right: 5px;
    padding-bottom: 7px;
    transition: all linear.4s;
}
.service h4{
    display: inline-block;
    color: #222222;
    font-size: 24px;
    transition: all linear.4s;
}
.service p{
    color: #222222;
    font-size: 14px;
}

.service:hover i{
    color: #de4644;
}
.service:hover h4{
    color: #de4644;
}
/*======  Service Img =======*/
#service-img{
    padding-top: 100px;
}
.service-img{
    position: relative;
}
.nasted{
    position: absolute;
    bottom: 3%;
    left: 5%;
    background: rgba(0, 0, 0, 0.349);
    width: 90%;
    height: 35%;
    text-align: center;
}
.nasted h4{
    color: #fff; 
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0!important;
    padding-top: 0;
}
.nasted h5{
    color: #fff;
    font-size: 24px;
    font-weight: 550;
    margin-bottom: 10px;
}
.nasted a{
    color: #fff;
    font-size: 16px;
    padding: 6px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all linear.4s;
}
.service-img:hover .nasted a{
    background: #de4644;
    text-decoration: none;
    border: 1px solid #de4644;
    color: #fff;
}
.new{
    position: absolute;
    top:8%;
    left: -10%;
    background: #fff;
    width: 45%;
    height: 7%;
    transform: rotate(-45deg);
    text-align: center;
    opacity: 0;
    transition: all linear.4s;
}

.service-img:hover .new{
    opacity: 1;
}















